.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-top: 20px;
    background-color: rgba(148, 153, 55, 0.5); /* Semi-transparent white */
    padding: 20px;
    border-radius: 10px;
}

.board div {
    background-color: #eee;
    border: 1px solid #999;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    transform: perspective(500px) rotateX(0deg) rotateY(0deg);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.board div:hover {
    transform: perspective(500px) rotateX(10deg) rotateY(10deg);
}

#reset-btn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

#reset-btn:hover {
    background-color: #0056b3;
}
